.input {
	display: inline-block;
	min-width: 300px;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
}

.input:focus {
	outline-color: darkgreen;
}

.error,
.error:focus {
	border-color: red;
	outline-color: red;
}